/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/

.about {
    &__inner {
        padding: 50px 150px;
    }
    &__description .timer > span {
        font-size: 40px;
    }
}

.movie {
    &__item {
        flex-basis: 32%;
    }
}

.photo {
    &__item {
        flex-basis: 23%;
    }
}